@model ETS.UI.Models.PersonelListResponseModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ad Soyad@*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                Surname
                @*@Html.DisplayNameFor(model => model.Surname)*@
            </th>
            <th>
                IsMale
                @*@Html.DisplayNameFor(model => model.IsMale)*@
            </th>
            <th>
                BirthDate
                @*@Html.DisplayNameFor(model => model.BirthDate)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SBirthDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Id  },new {id="btnEdit"}) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id  }, new {id="btnDetail"}) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id  }, new {id="btnDelete"})
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    //$(document).ready(function () {
    //    $("#btnDelete").on("click", function (e) {
    //        e.preventDefault();
    //        debugger;
    //        if (confirm("Silmek İstediğinize Emin Misiniz!")) {

    //        }
    //    });
    //});
</script>
